.count {
	color: #aaa;
}
.count:before {
	content: "(";
}
.count:after {
	content: ")";
}

/* index columns */
span.c {
	background: #eee;
	font-size: 70%;
	padding: 0 0.5em;
}
span.f {
	font-weight: bold;
}

.admin {
	background: #ffc;
	padding: 0.25em;
}

.admin .active {
	font-weight: bold;
}

.debug {
	color: #aaa;
}

.debug:hover {
	color: #000;
}

li label:hover, td label:hover {
	background: #ff8;
}	

td label {
	white-space: nowrap;
}
