.count {
	color: #aaa;
}
.count:before {
	content: "(";
}
.count:after {
	content: ")";
}

label span.hint {
	display: none;
	position: absolute;
	background: #fff;
	color: #888;
	z-index: 100;
	padding: 3px;
}

label:hover span.hint {
	display: block;
}


span.sort-by {
	float: right;
}

/* index columns */
span.c {
	background: #eee;
	font-size: 70%;
	padding: 0 0.5em;
}
span.f {
	font-weight: bold;
}
span.h {
	color: #666;
}

.admin {
	background: #ffc;
	padding: 0.25em;
}

.admin .active {
	font-weight: bold;
}

.admin .actions {
	float: right;
}

.admin .save_actions {
	float: right;
	color: #f00;
	padding-left: 1em;
}

.debug {
	color: #aaa;
}

.debug:hover {
	color: #000;
}

li label:hover, td label:hover {
	background: #ff8;
}	

td label {
	white-space: nowrap;
}


div.col_opts {
	font-size: 70%;
}

.chart {
	float: right;
	position: relative;
	margin-top: 1em;
}

.labels-x,
.labels-y {
	position: absolute;
	left: 0;
	top: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.labels-x li,
.labels-y li {
	position: absolute;
	bottom: 0;
	color: #555;
	font-size: 75%;
}

.labels-y li span.line {
	position: absolute;
	border: 0 solid #ccc;
	opacity: 0.7;
}
.labels-x li {
	margin-top: 5px;
	bottom: -1.5em;
}
.labels-y li {
	width: 100%;
}
.labels-y li span.label {
	right: 100%;
	position: absolute;
	margin-right: 5px;
	margin-top: -0.5em;
}
.labels-y li span.line {
	border-top-width: 1px;
	width: 100%;
}

label.included,
a#included {
	color: #080;
}

label.excluded,
a#excluded {
	color: #800;
}

/* delimiter for repeatable data */
span.d {
	color: #ccc;
}

.saved {
	background: #ffe;
}

form.action_filter {
	float: right;
}

.bytes {
	text-align: right;
	font-family: monospace;
	color: #444;
}

/* items/list.html.ep */
a.facet {
	font-family: monospace;
	color: #666;
	text-decoration: none;
}

/* /actions */
.change_box {
	border: 3px dashed #f84;
}

.change_viewed a {
	color: #888;
	text-decoration: line-through;
}

/* /actions/changes */

tr.change pre {
	color: #000;
	font-size: 70%;
}

tr.unknown {
	background: #eee;
}

tr.found {
	background: #cfc;
}

tr.missing {
	background: #fcc;
}

tr.skip {
	background: #fcf;
}

tr.hidden {
	display: none;
}

